    
   
  /* -------------------------------------------------------- */
  /*  --------------     small scherm     ----------------    */
  /* -------------------------------------------------------- */

 
   * { box-sizing: border-box; }
   	  
  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track { 
    width: 0.6vw;  background: rgba(255,255,255,0) ; }
  ::-webkit-scrollbar-button { display:none; }
  ::-webkit-scrollbar-track-piece {  display:none; }
  ::-webkit-scrollbar-corner { display:none; }
  ::-webkit-resizer { display: none;  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 0.3vw;
	background-color:  #00b1eb; min-height: 50px;}
  ::-webkit-scrollbar-track {      }  

  a { outline-color: transparent; text-decoration:underline; }
  a:link { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:visited { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:hover { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:active { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
   
  html { 
    font-family: 'Roboto', sans-serif;
    font-size: 3.0vw; line-height: 1.2;
 	font-weight: 500;  color:#ffffff; 
    --pgBackColor: #ffffff;
	--pgColor: #333; 
    --colorRed: #ff0000;
	--Mnu1BackColor: #6f32aa;
	--Mnu1Color: #ffffff;
	--Mnu1SelColor: #ff0000;
	--Mnu2BackColor: #6f32aa;
	--Mnu2Color: #ffffff;
	--Mnu2SelColor: #ff0000;  }
    
 
  body {  } 

  #wrapper { 
    display:block; position:fixed; 
    left:.0px; top:0px; 
    width:100vw; height:100vh;
    border: 1.2vw #ffffff solid; 
    overflow-x: hidden; overflow-y: hidden; } 
    
  #titelWebsite { display:block; position:relative; width:98vw; height:auto; }
  #imgLogoV1 { display:block; width:97.6vw; height:18.5vw;   }
  #imgLogoV2 { display:none; }
  
  #btnMnu { 
    display:block; position:absolute; 
	right:0px; top:1vw;
    width: 11vw; height:13.5vw;
	background-color: transparent; }
 
  #actieveMnu {
    display:block; position:absolute; 
	right:5vw; bottom: -2.1vw; z-index:55;
	width: auto;  height:auto; white-space:nowrap;
    padding: 0.4vw 5vw 0.4vw 5vw;
	text-align:center;
	background-color: var(--colorRed); 
	color: var(--pgBackColor);
	border-radius: 1.7vw;
    font-size: 2.6vw; line-height:1; font-weight:bold; }
 
  #Mnu1 { display:none; }
  
  #Mnu2 {
    display:none; position:absolute; z-index:99;
	right:2vw; top:11.5vw; 
    width:54vw; height:66vw; max-height: calc(100vh - 15vw) ;
    background-color: var(--Mnu2BackColor); color:var(--Mnu2Color);
	-webkit-transition: height 1200ms ease; 
    -moz-transition: height 1200ms ease; 
    -ms-transition: height 1200ms ease; 
    -o-transition: height 1200ms ease; 
    transition: height 1200ms ease; }
 
  #MnuFrame2 {
    display:block; 
	width:54vw; height: 100% ;
	border-width: 1.5vw 1.8vw 1.5vw 2vw ;
    border-color: transparent; 
    border-style: solid;
    outline:1px #ffffff solid;
	outline-offset: -0.8vw;
	overflow-x:hidden;overflow-y:auto; } 
  
  #MnuLst2 {
    display: grid;
	background-color: inherit; color:inherit;
	width:100%; height:66vw;
	grid-template-columns: 31vw;  
	grid-template-rows: repeat(9, 7vw); 
	justify-content: start; align-content:start;
	justify-items:start; align-items:center;
	row-gap:0px; column-gap:0px; }
  
  #MnuLst2 div {
   	display:grid; width: 100%; height:100%;
    background-color: inherit; color: var(--Mnu2Color);
	font-size: 3.8vw; line-height: 1.2; 
	font-weight: normal;   
	white-space:nowrap;
	grid-template-columns: 7.5vw 1fr ;
	grid-template-rows:1fr;
	justify-items:start; align-items:center;}
	
  #MnuItm2A, #MnuItm2B, #MnuItm2C, #MnuItm2D, #MnuItl2E,
  #MnuItm2F, #MnuItm2G, #MnuItm2H { display: block; }	
  
 
  
  #tableSocials {
    display:grid;
    grid-template-columns:  50px auto; 
    grid-template-rows: auto auto auto auto auto;
    justify-content: start; align-content: start; 
    justify-items: start; align-items: center ;
    row-gap: 10px; column-gap: 12px;
     width: 86%; height:auto;
	margin: 5vw 11% 15vw 3%;   }
   
  #socIcons {  
    background-color: var(--pgBackColor);
    display: block;  overflow:visible;  
    text-align:right;
    width:80%; height:3vw; margin: 1vw 10% 3vw 10%; }

  .socItm {
      display: inline-block;;
      width:3vw; height:3vw;
      overflow-x:visible;  overflow-y:visible;  
      margin: 0px 1vw 0vw 1vw;
      position: relative;   }


  .icon {    width: 3vw;    height: 3vw;    }

  .tooltipTxt  {
    display:none; position: absolute;
    bottom: 110%;  left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #fffff0;    color: #333;
    border:1px #333 solid; border-radius: 3px;
    padding: 2px 12px; 
    font-size: 1.3vw; font-weight: 500;   }

 .socItm:hover  .tooltipTxt {  display: flex;    } 
     
  #allPages { 
    display:block; float:right;  
	background-color: var(--pgBackColor); color: var(--pgColor) ;
	width:97.6vw;  height: calc(100% - 14.5vw) ;
	font-size: 3vw; line-height: 1.2;
	font-weight: normal;  
	border-width: 1vw 1vw 1vw 2.2vw;
    border-color:transparent; border-style:solid;
	outline:1px #a0a0c4 solid; outline-offset:-2px; 
    overflow-x:hidden; overflow-y:hidden;
	background-image: url("image/LogoDLML.png");
    background-repeat: no-repeat;
    background-position: right 1vw top;
    background-size: 20% ; }
    
  
  .pgContent {
    display:none; 
	width:100%; height:100%;
	overflow-x:hidden; overflow-y:auto; }
  
  img.LogoSize1 {
    display:inline-block; background-color:transparent; 
	height: 4vw; width: auto; } 
  
  img.LogoSize2 {
    display:inline-block; background-color:transparent; 
	height: 7vw; width: auto; } 
    
 
   
   
  /* -------------------------------------------------------- */
  /*  --------------     medium scherm     --------------    */
  /* -------------------------------------------------------- */
   @media only screen and (min-width: 768px) and ( orientation: landscape)   {  
   
  * { box-sizing: border-box;  }
	  
  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track { 
    width: 0.5vw;  background: rgba(255,255,255,0) ; }
  ::-webkit-scrollbar-button { display:none; }
  ::-webkit-scrollbar-track-piece {  display:none; }
  ::-webkit-scrollbar-corner { display:none; }
  ::-webkit-resizer { display: none;  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 0.25vw;
	background-color:  #00b1eb; min-height: 50px;}
  ::-webkit-scrollbar-track {      }  

  a { outline-color: transparent; text-decoration:underline; }
  a:link { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:visited { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:hover { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:active { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  
  html { 
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 2.4vw; line-height: 1.2;
	font-weight: normal;  color:#ffffff; 
	--pgBackColor: #ffffff;
	--pgColor: #333; 
    --colorRed: #ff0000;
	--Mnu1BackColor: #6f32aa;
	--Mnu1Color: #ffffff;
	--Mnu1SelColor: #ff0000;
	--Mnu2BackColor: #6f32aa;
	--Mnu2Color: #ffffff;
	--Mnu2SelColor: #ff0000;  }
  
  body {     }
   
  #wrapper { 
    display:block; position:fixed; 
    left:.0px; top:0px; 
    width:100vw; height:100vh;
    border: 1vw #ffffff solid; 
    overflow-x: hidden; overflow-y: hidden; } 
    
  #titelWebsite { display:block; position:relative; width:98.4vw; height:auto; }
  #imgLogoV1 { display:none; }
  #imgLogoV2 { display:block; width:98.4vw; height:10.6vw; }
   
  #btnMnu { 
    display:block; position:absolute; 
	right:0px; top:1vw;
    width: 8vw; height:7.6vw;
	background-color: transparent; }
 
   #actieveMnu {
    display:block; position:absolute; 
	right:5vw; bottom: -1.8vw; z-index:55;
	width: auto; height:auto; white-space:nowrap;
    padding: 0.4vw 4vw 0.4vw 4vw;
	text-align:center;
	background-color: var(--colorRed); 
	color: var(--pgBackColor);
	border-radius: 1.7vw;
    font-size: 2.4vw; line-height:1; font-weight:bold; }
  
  #Mnu1 { display:none; }
  
  #Mnu2 {
    display:none; position:absolute; z-index:99;
	right:2vw; top:11.5vw; 
    width:38vw; height:48vw; max-height: calc(100vh - 15vw) ;
    background-color: var(--Mnu2BackColor); color:var(--Mnu2Color);
	-webkit-transition: height 1200ms ease; 
    -moz-transition: height 1200ms ease; 
    -ms-transition: height 1200ms ease; 
    -o-transition: height 1200ms ease; 
    transition: height 1200ms ease; }
 
  #MnuFrame2 {
    display:block; 
	width:38vw; height: 100% ;
	border-width: 1.5vw 1.8vw 1.5vw 2vw ;
    border-color: transparent; 
    border-style: solid;
    outline:1px #ffffff solid;
	outline-offset: -0.8vw;
	overflow-x:hidden;overflow-y:auto; } 
  
  #MnuLst2 {
    display: grid;
	background-color: inherit; color:inherit;
	width:100%; height:48vw;
	grid-template-columns: 31vw;  
	grid-template-rows: repeat(9, 5vw); 
	justify-content: start; align-content:start;
	justify-items:start; align-items:center;
	row-gap:0px; column-gap:0px; }
  #MnuLst2 div {
   	display:grid; width: 100%; height:100%;
    background-color: inherit; color: var(--Mnu2Color);
	font-size: 2.6vw; line-height: 1.2; 
	font-weight: normal;   
	white-space:nowrap;
	grid-template-columns: 7.5vw 1fr ;
	grid-template-rows:1fr;
	justify-items:start; align-items:center;}
	
  #MnuItm2A, #MnuItm2B, #MnuItm2C, #MnuItm2D, #MnuItl2E,
  #MnuItm2F, #MnuItm2G, #MnuItm2H { display: block; }	
	
  #allPages { 
    display:block; float:right;
	background-color: var(--pgBackColor); color: var(--pgColor) ;
	width:98vw;  height: calc(100% - 10.6vw) ;
	font-size: 1.8vw; line-height: 1.2;
	font-weight: normal;    
	border-width: 0.8vw 0.8vw 0.8vw 2vw;
    border-color:transparent; border-style:solid;
	outline:1px #a0a0c4 solid; outline-offset:-2px; 
    overflow-x:hidden; overflow-y:hidden;
	background-image: url("image/LogoDLML.png");
    background-repeat: no-repeat;
    background-position: right 1vw top;
    background-size: 20% ; }
 
  .pgContent { 
    display:none; 
	width:100%; height:100%;
	overflow-x:hidden; overflow-y:auto; }
  
   img.LogoSize1 {
     display:block; background-color:transparent; 
	 height: 3.4vw; width: autovw; } 
  
   img.LogoSize2 {
     display:block; background-color:transparent; 
	 height: 6vw; width: auto; } 
	

  }

  /* -------------------------------------------------------- */
  /*  --------------     large scherm     ----------------    */
  /* -------------------------------------------------------- */
  @media only screen and (min-width: 1280px) {  
     
  
  * { box-sizing: border-box; }
   
  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track { 
    width: 0.4vw;  background: rgba(255,255,255,0) ; }
  ::-webkit-scrollbar-button { display:none; }
  ::-webkit-scrollbar-track-piece {  display:none; }
  ::-webkit-scrollbar-corner { display:none; }
  ::-webkit-resizer { display: none;  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 0.2vw;
	background-color:  #00b1eb; min-height: 50px;}
  ::-webkit-scrollbar-track {      }  
  
 a { outline-color: transparent; text-decoration:underline; }
  a:link { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:visited { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:hover { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:active { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
    
  html { 
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 1.25vw; line-height: 1.2;
	font-weight: normal;  color:#ffffff;  
	--pgBackColor: #ffffff;
	--pgColor: #333; 
    --colorRed: #ff0000;
	--Mnu1BackColor: #6f32aa;
	--Mnu1Color: #ffffff;
	--Mnu1SelColor: #ff0000;
	--Mnu2BackColor: #6f32aa;
	--Mnu2Color: #ffffff;
	--Mnu2SelColor: #ff0000; }

  body  {  }	     
  
  #wrapper { 
    display:block; position:fixed; 
    left:.0px; top:0px; 
    width:100vw; height:100vh;
    border: 0.8vw #ffffff solid; 
    overflow-x: hidden; overflow-y: hidden; } 
    
  #titelWebsite { display:block; position:relative; width:98.4vw; height:auto; }
  #imgLogoV1 { display:none; }
  #imgLogoV2 { display:block; width:98.4vw; height:10.6vw; }
    
  #btnMnu { 
    display:block; position:absolute; 
	right:0px; top:1vw;
    width: 8vw; height:7.6vw;
	background-color: transparent; }
  
  #actieveMnu {
    display:block; position:absolute; 
	right:5vw; bottom: -1.7vw; z-index:55;
	width: auto;  height:auto; white-space:nowrap;
    padding: 0.4vw 3vw 0.4vw 3vw;
	text-align:center;
	background-color: var(--colorRed); 
	color: var(--pgBackColor);
	border-radius: 1.5vw;
    font-size: 2.2vw; line-height:1; font-weight:bold; }
 
  #Mnu1 {  
    display:block; float:left;
    background-color: var(--Mnu1BackColor); color:var(--Mnu1Color) ;
	width:24vw; height: calc(100% - 10.6vw) ;
  	border-width: 0.4vw 0.4vw 0.4vw 1.5vw;
    border-color:transparent; border-style:solid;
	overflow-x:hidden;overflow-y:auto; }
  #MnuLst1 { 
    display: grid; 
    background-color:inherit; color:inherit;
	width:100%; height:auto;
    grid-template-columns: auto;  
	grid-template-rows: repeat(9 ,3.2vw); 
	justify-content: start; align-content:start;
	justify-items:start; align-items:center;
	row-gap:2px; column-gap:1vw; }   
  #MnuLst1 div { 
    display:grid; width:100%;
    font-size: 1.6vw; line-height: 1.2;
	font-weight: normal;   
	background-color:inherit; color:var(--Mnu1Color);; 
	white-space:nowrap; 
	grid-template-columns: 3vw 1fr ;
	grid-template-rows:100%;
	justify-items:start; align-items:center;}
  
  #Mnu2 {
    display:none; position:absolute; z-index:99;
	right:2vw; top:9.5vw; 
    width:38vw; height:8vw; max-height: calc(100vh - 15vw) ;
    background-color: var(--Mnu2BackColor); color:var(--Mnu2Color);
	-webkit-transition: height 1200ms ease; 
    -moz-transition: height 1200ms ease; 
    -ms-transition: height 1200ms ease; 
    -o-transition: height 1200ms ease; 
    transition: height 1200ms ease; }
  #MnuLst2 {
    display: grid;
	background-color: inherit; color:inherit;
	width:100%; height:8vw;
	grid-template-columns: 31vw;  
	grid-template-rows: repeat(8, 0) 5vw; 
	justify-content: start; align-content:start;
	justify-items:start; align-items:center;
	row-gap:0px; column-gap:0px; }
  
  #MnuFrame2 {
    display:block; 
	width:38vw; height: 100% ;
	border-width: 1.5vw 1.8vw 1.5vw 2vw ;
    border-color: transparent; 
    border-style: solid;
    outline:1px #ffffff solid;
	outline-offset: -0.8vw;
	overflow-x:hidden;overflow-y:hidden; } 
	
  #MnuLst2 div {
   	display:grid; width: 100%; height: 100%;
    background-color: inherit; color: var(--Mnu2Color);
    overflow-x:hidden; overflow-y:hidden;
	font-size: 2.5vw; line-height: 1.2; 
	font-weight: normal;   
	white-space:nowrap;
	grid-template-columns: 7.5vw 1fr ;
	grid-template-rows:1fr;
	justify-items:start; align-items:center;}
	    
  #allPages { 
    display:block; float:right;
	background-color: var(--pgBackColor); color: var(--pgColor) ;
	font-size: 1.25vw; line-height: 1.2;
	font-weight: normal;   
	width:73vw;  height: calc(100% - 10.6vw) ;
	border-width: 0.6vw 0.6vw 0.6vw 1.8vw;
    border-color:transparent; border-style:solid;
	outline:1px #a0a0c4 solid; outline-offset:-5px; 
    overflow-x:hidden; overflow-y:hidden;
	background-image: url("image/LogoDLML.png");
    background-repeat: no-repeat;
    background-position: right 1vw top;
    background-size: 20% ; }
    
  .pgContent { 
    display:none; 
	width:100%; height:100%;
	overflow-x:hidden; overflow-y:auto; }
  
  .LogoSize1 {
     display:block; background-color:transparent; 
  	 height:2.4vw;  width:  auto; } 
  
  .LogoSize2 {
     display:block; background-color:transparent; 
  	 height:5vw;  width: auto; } 
  
  
  }  