/* -------------------------------------------------------- */
/*  --------------     small scherm     ----------------    */
/* -------------------------------------------------------- */

* { box-sizing: border-box; }

::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  width: 0.6vw;  background: rgba(255,255,255,0) ; }
::-webkit-scrollbar-button { display:none; }
::-webkit-scrollbar-track-piece {  display:none; }
::-webkit-scrollbar-corner { display:none; }
::-webkit-resizer { display: none;  }
::-webkit-scrollbar-thumb {
  border-radius: 0.3vw;
  background-color:  #00b1eb; min-height: 50px;}
::-webkit-scrollbar-track {      }

a { outline-color: transparent; text-decoration:underline; }
a:link { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
a:visited { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
a:hover { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
a:active { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 3.0vw; line-height: 1.2;
  font-weight: 500;  color:#ffffff;
  --pgBackColor: #ffffff;
  --pgColor: #333;
  --colorRed: #ff0000;
  --Mnu1BackColor: #6f32aa;
  --Mnu1Color: #ffffff;
  --Mnu1SelColor: #ff0000;
  --Mnu2BackColor: #6f32aa;
  --Mnu2Color: #ffffff;
  --Mnu2SelColor: #ff0000; }

body {  }

#wrapper {
  display:block; position:fixed;
  left:.0px; top:0px;
  width:100vw; height:100vh;
  border: 1.2vw #ffffff solid;
  overflow-x: hidden; overflow-y: hidden; }

#titelWebsite { display:block; position:relative; width:98vw; height:auto; }
#imgLogoV1 { display:block; width:97.6vw; height:auto; }
#imgLogoV2 { display:none; }

#btnMnu {
  display:block; position:absolute;
  right:0px; top:1vw;
  width: 11vw; height:13.5vw;
  background-color: transparent; }

#actieveMnu {
  display:block; position:absolute;
  right:5vw; bottom: -2.1vw; z-index:55;
  width: auto;  height:auto; white-space:nowrap;
  padding: 0.4vw 5vw 0.4vw 5vw;
  text-align:center;
  background-color: var(--colorRed);
  color: var(--pgBackColor);
  border-radius: 1.7vw;
  font-size: 2.6vw; line-height:1; font-weight:bold; }

#Mnu1 { display:none; }

#Mnu2 {
  display:none; position:absolute; z-index:99;
  right:2vw; top:11.5vw;
  width:54vw; height:66vw; max-height: calc(100vh - 15vw) ;
  background-color: var(--Mnu2BackColor); color:var(--Mnu2Color);
  -webkit-transition: height 1200ms ease;
  -moz-transition: height 1200ms ease;
  -ms-transition: height 1200ms ease;
  -o-transition: height 1200ms ease;
  transition: height 1200ms ease; }

#MnuFrame2 {
  display:block;
  width:54vw; height: 100% ;
  border-width: 1.5vw 1.8vw 1.5vw 2vw ;
  border-color: transparent;
  border-style: solid;
  padding-bottom: 5vh;
  outline:1px #ffffff solid;
  outline-offset: -0.8vw;
  overflow-x:hidden;overflow-y:auto; }

#MnuLst2 {
  display: grid;
  background-color: inherit; color:inherit;
  width:100%; height:66vw; /* Behoud vaste hoogte of overweeg auto met grid-auto-rows */
  grid-template-columns: 31vw;
  grid-template-rows: repeat(12, auto); /* Aangepast naar 12 rijen 'auto' voor flexibiliteit */
  /* Of gebruik: grid-auto-rows: 5.5vw; als je een vaste rijhoogte wilt voor 12 items in 66vw */
  justify-content: start; align-content:start;
  justify-items:start; align-items:center;
  row-gap:0px; column-gap:0px; }

#MnuLst2 div {
  display:grid; width: 100%; height:100%;
  background-color: inherit; color: var(--Mnu2Color);
  font-size: 3.8vw; line-height: 1.2;
  font-weight: normal;
  white-space:nowrap;
  grid-template-columns: 7.5vw 1fr ;
  grid-template-rows:1fr;
  justify-items:start; align-items:center;}

/* Verwijder individuele MnuItm2X regels als ze niet meer nodig zijn voor specifieke styling */
/* #MnuItm2A, #MnuItm2B, ... { display: block; } */

#tableSocials {
  display:grid;
  grid-template-columns:  50px auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: start; align-content: start;
  justify-items: start; align-items: center ;
  row-gap: 10px; column-gap: 12px;
  width: 86%; height:auto;
  margin: 5vw 11% 15vw 3%;   }

#socIcons {
  background-color: var(--pgBackColor);
  display: block;  overflow:visible;
  text-align:right;
  width:80%; height:3vw; margin: 1vw 10% 3vw 10%; }

.nieuw-indicator {
  color: #FFE0A3;
}

.socItm {
  display: inline-block;;
  width:3vw; height:3vw;
  overflow-x:visible;  overflow-y:visible;
  margin: 0px 1vw 0vw 1vw;
  position: relative;   }

.icon {    width: 3vw;    height: 3vw;    }

.tooltipTxt  {
  display:none; position: absolute;
  bottom: 110%;  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #fffff0;    color: #333;
  border:1px #333 solid; border-radius: 3px;
  padding: 2px 12px;
  font-size: 1.3vw; font-weight: 500;   }

.socItm:hover  .tooltipTxt {  display: flex;    }

#allPages {
  display:block; float:right;
  background-color: var(--pgBackColor); color: var(--pgColor) ;
  width:97.6vw;  height: calc(100% - 18.5vw) ; /* Aangepast naar 18.5vw */
  font-size: 3vw; line-height: 1.2;
  font-weight: normal;
  border-width: 1vw 1vw 1vw 2.2vw;
  border-color:transparent; border-style:solid;
  outline:1px #a0a0c4 solid; outline-offset:-2px;
  overflow-x:hidden; overflow-y:hidden;
  background-image: url("image/LogoDLML.png");
  background-repeat: no-repeat;
  background-position: right 1vw top;
  background-size: 20% ; }

.pgContent {
  display:none;
  width:100%; height:100%;
  overflow-x:hidden; overflow-y:auto;
  padding-bottom: 6vw; /* Behoud van de scroll-fix */
}

img.LogoSize1 {
  display:inline-block; background-color:transparent;
  height: 4vw; width: auto; }

img.LogoSize2 {
  display:inline-block; background-color:transparent;
  height: 7vw; width: auto; }


/* -------------------------------------------------------- */
/*  --------------     medium scherm     --------------    */
/* -------------------------------------------------------- */
@media only screen and (min-width: 768px) and ( orientation: landscape)   {

  /* Jouw bestaande algemene medium scherm instellingen */
  * { box-sizing: border-box;  } /* Deze staat al globaal, kan hier weg als je wilt, maar dubbel is niet erg */

  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    width: 0.5vw;  background: rgba(255,255,255,0) ; }
  ::-webkit-scrollbar-button { display:none; }
  ::-webkit-scrollbar-track-piece {  display:none; }
  ::-webkit-scrollbar-corner { display:none; }
  ::-webkit-resizer { display: none;  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.25vw;
    background-color:  #00b1eb; min-height: 50px;}
  ::-webkit-scrollbar-track {      }

  a { outline-color: transparent; text-decoration:underline; }
  a:link { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:visited { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:hover { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }
  a:active { color: var(--linkColor);  text-decoration:underline; background-color:transparent; }

  html {
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 2.4vw; line-height: 1.2;
    font-weight: normal;  color:#ffffff;
    /* Variabelen worden geërfd, tenzij je ze hier specifiek wilt overschrijven */
  }

  body {     } /* Blijft leeg als er geen specifieke medium body stijl is */

  #wrapper {
    /* Jouw bestaande #wrapper stijlen voor medium blijven hier, bijv. border */
    border: 1vw #ffffff solid;
  }

  #titelWebsite {
    /* Jouw bestaande #titelWebsite stijlen voor medium, bijv. width */
    width:98.4vw;
  }

  /* --- TOEGEVOEGDE/AANGEPASTE REGELS VOOR BANNER LOGO'S OP MEDIUM SCHERM --- */
  #imgLogoV1 {
    display: none; /* Verberg het kleine scherm logo */
  }
  #imgLogoV2 {
    display: block;    /* Toon het grote scherm logo */
    width: 98.4vw;     /* Behoud de breedte zoals in je large screen CSS */
    height: auto;      /* LAAT BROWSER ASPECT RATIO BEPALEN */
    /* max-height: 110px;  Optioneel, voor later finetunen als het nog te hoog is */
  }
  /* --- EINDE TOEGEVOEGDE/AANGEPASTE REGELS VOOR BANNER LOGO'S --- */


  #btnMnu {
    /* Jouw bestaande #btnMnu stijlen voor medium */
    width: 8vw; height:7.6vw;
  }

   #actieveMnu {
    /* Jouw bestaande #actieveMnu stijlen voor medium */
    bottom: -1.8vw;
    padding: 0.4vw 4vw 0.4vw 4vw;
    border-radius: 1.7vw;
    font-size: 2.4vw;
   }

  #Mnu1 { display:none; } /* Blijft display:none; voor medium scherm */

  #Mnu2 {
    /* Jouw bestaande #Mnu2 stijlen voor medium */
    width:38vw;
    height:auto; /* Aangepast van vaste hoogte */
    max-height: calc(100vh - 15vw) ;
  }

  #MnuFrame2 {
    /* Jouw bestaande #MnuFrame2 stijlen voor medium */
    width:38vw;
  }

  #MnuLst2 {
    /* Jouw bestaande #MnuLst2 stijlen voor medium */
    font-size: 2.6vw; /* Toegevoegd uit jouw eerdere CSS */
    grid-auto-rows: 4vw; /* Toegevoegd uit jouw eerdere CSS, of pas aan */
    height: auto; /* Toegevoegd uit jouw eerdere CSS */
    /* grid-template-rows: repeat(12, auto);  of de grid-auto-rows hierboven is voldoende */
  }

  #MnuLst2 div {
    /* Jouw bestaande #MnuLst2 div stijlen voor medium */
    font-size: 2.6vw;
    grid-template-columns: 7.5vw 1fr ;
  }

  #allPages {
    /* Jouw bestaande #allPages stijlen voor medium */
    width:98vw;
    height: calc(100% - 10.6vw) ; /* BELANGRIJK: Deze 10.6vw is waarschijnlijk nu incorrect.
                                       We passen dit aan nadat de banner correct wordt weergegeven. */
    font-size: 1.8vw;
    border-width: 0.8vw 0.8vw 0.8vw 2vw;
    outline-offset:-2px;
  }

  .pgContent {
    /* Jouw bestaande .pgContent stijlen voor medium, als die er zijn */
  }

   /* De .LogoSize1 en .LogoSize2 class regels hieronder zijn voor de kleinere logo's
     die je BINNEN de content pagina's gebruikt. */
   img.LogoSize1 {
     /* display:block;  Indien nodig, anders erft het inline-block van algemeen */
     height: 3.4vw;
     /* width: auto; is al standaard voor img */
   }

   img.LogoSize2 {
     /* display:block; Indien nodig */
     height: 6vw;
     /* width: auto; */
   }
}

/* -------------------------------------------------------- */
/*  --------------     large scherm     ----------------    */
/* -------------------------------------------------------- */
@media only screen and (min-width: 1280px) {

  /* Bestaande algemene large screen instellingen die je wilt behouden */
  * { box-sizing: border-box; }

  ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    width: 0.4vw;  background: rgba(255,255,255,0) ; }
  ::-webkit-scrollbar-button { display:none; }
  ::-webkit-scrollbar-track-piece {  display:none; }
  ::-webkit-scrollbar-corner { display:none; }
  ::-webkit-resizer { display: none;  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.2vw;
    background-color:  #00b1eb; min-height: 50px;}
  ::-webkit-scrollbar-track {      }

  a { outline-color: transparent; text-decoration:underline; }
  a:link { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:visited { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:hover { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }
  a:active { color: var(--linkColor);  text-decoration:underline; background-color: transparent; }

  html {
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 1.25vw; line-height: 1.2;
    font-weight: normal;  color:#ffffff;
    /* Variabelen worden geërfd */
  }

  body  {  }

  #wrapper {
    border: 0.8vw #ffffff solid;
  }

  #titelWebsite {
    width:98.4vw;
  }

  /* --- CORRECTE REGELS VOOR BANNER LOGO'S OP LARGE SCHERM --- */
  #imgLogoV1 {
    display: none;
  }
  #imgLogoV2 {
    display: block;
    width: 98.4vw;
    height: auto;
    /* max-height: 110px; */ /* Optioneel, voor later finetunen */
  }
  /* --- EINDE CORRECTE REGELS VOOR BANNER LOGO'S --- */


  #btnMnu {
    width: 8vw; height:7.6vw;
  }

  #actieveMnu {
    right:5vw; bottom: -1.7vw;
    padding: 0.4vw 3vw 0.4vw 3vw;
    border-radius: 1.5vw;
    font-size: 2.2vw;
  }

  #Mnu1 {
    display:block; float:left;
    background-color: var(--Mnu1BackColor); color:var(--Mnu1Color) ;
    width:24vw; /* Behoud deze breedte voor nu */
    height: calc(100% - 10.6vw) ; /* NOG STEEDS AAN TE PASSEN NA METEN BANNER */
    border-width: 0.4vw 0.4vw 0.4vw 1.5vw;
    border-color:transparent; border-style:solid;
    overflow-x:hidden;overflow-y:auto;
  }

  #MnuLst1 {
    display: grid;
    background-color:inherit; color:inherit;
    width:100%; height:auto;
    grid-template-columns: auto;
    grid-auto-rows: 2.6vw; /* Bepaalt rijhoogte, pas aan als menu te hoog/laag wordt */
    justify-content: start; align-content:start;
    justify-items:start; align-items:center;
    row-gap:2px; column-gap:1vw;
  }

/* BINNEN @media only screen and (min-width: 1280px) { ... } */

  /* ... (andere stijlen voor #MnuLst1 blijven, zoals grid-auto-rows etc.) ... */

  #MnuLst1 div {
    display: grid;
    width: 100%;
    font-size: 1.5vw;
    line-height: 1.2;
    font-weight: normal;
    background-color: inherit;
    color: var(--Mnu1Color);
    /* AANGEPAST: Icoonkolom nog smaller, en geen padding-left op het item zelf */
    grid-template-columns: 1.7vw auto; /* WAS BIJV. 2.8vw, nu kleiner. Experimenteer! */
    grid-template-rows: 100%;
    align-items: center;
    /* padding-left: 0; /* Geen extra padding op het hele item links */
  }

  #MnuLst1 div > i {
    justify-self: center; 
    text-align: center;
    /* font-size: 1.1vw; /* Eventueel icoon nog iets kleiner als het krap wordt */
  }

  #MnuLst1 div > label {
    display: block;
    text-align: left;
    /* AANGEPAST: Padding links van label nog kleiner */
    padding-left: 0.9vw;  /* WAS BIJV. 0.5vw, nu kleiner. Experimenteer! */
    white-space: nowrap;
  }

  /* === EINDE AANGEPASTE REGELS VOOR MENU-ITEM UITLIJNING === */


  #Mnu2 {
    display:none;
  }
  #MnuFrame2 {
    /* Stijlen voor MnuFrame2 indien nodig voor large, maar Mnu2 is display:none */
  }
  #MnuLst2 {
    /* Stijlen voor MnuLst2 indien nodig voor large, maar Mnu2 is display:none */
  }
  #MnuLst2 div {
    /* Stijlen voor MnuLst2 div indien nodig voor large, maar Mnu2 is display:none */
  }


  #allPages {
    width:73vw;
    height: calc(100% - 10.6vw) ; /* NOG STEEDS AAN TE PASSEN NA METEN BANNER */
    font-size: 1.25vw;
    border-width: 0.6vw 0.6vw 0.6vw 1.8vw;
    outline-offset:-5px;
  }

  .pgContent {
    /* Eventuele large-specifieke .pgContent stijlen */
  }

  .LogoSize1 { /* Dit zijn de kleinere logo's in de content */
     height:2.4vw;
  }
  .LogoSize2 { /* Dit zijn de kleinere logo's in de content */
     height:5vw;
  }
}


/* ============================================= */
/* CSS VOOR LIGHTBOX FOTO'S                      */
/* ============================================= */

.lightbox-overlay-hidden {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; /* Uitgezet voor betere flex-centrering, kan aan als scrollen nodig is */
    background-color: rgba(0, 0, 0, 0.85);
    /* padding-top: 30px; /* Verwijderd voor flex-centrering */
    box-sizing: border-box;
}

.lightbox-overlay-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    overflow: auto; /* Weer toegevoegd voor het geval de content groter is dan de viewport */
}

.lightbox-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 90%;
    max-height: 90vh;
    padding: 15px; /* Optionele padding rondom de content binnen de wrapper */
    box-sizing: border-box; /* Zorg dat padding binnen max-width/height valt */
}

.lightbox-image-display {
    display: block;
    max-width: 100%; /* Maximaal breedte van content-wrapper */
    max-height: 100%;/* Maximaal hoogte van content-wrapper (na padding) */
    margin: auto;
    border: 3px solid white;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    object-fit: contain; /* Behoud aspect ratio en past binnen de box */
}

.lightbox-close-btn {
    position: absolute;
    top: 10px;  /* Aangepast voor betere positie met flex centrering */
    right: 15px; /* Aangepast voor betere positie met flex centrering */
    color: #ffffff;
    font-size: 45px;
    line-height: 0.5; /* Kan helpen om 'm strakker te positioneren */
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1002; /* Zorg dat het boven de pijlen kan komen als ze overlappen */
    padding: 0 5px; /* Iets padding voor klikgebied */
}

.lightbox-close-btn:hover,
.lightbox-close-btn:focus {
    color: #bbb;
    text-decoration: none;
}

.lightbox-prev-btn,
.lightbox-next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.3s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
    z-index: 1001; /* Onder close knop, boven afbeelding */
}

.lightbox-next-btn {
    right: 5px; /* Iets van de rand af voor esthetiek */
    border-radius: 3px 0 0 3px;
}

.lightbox-prev-btn {
    left: 5px; /* Iets van de rand af voor esthetiek */
    border-radius: 0 3px 3px 0;
}

/* HIER ZIJN DE BEHOUDEN REGELS: */
.lightbox-prev-btn:hover,
.lightbox-next-btn:hover {
    background-color: rgba(0,0,0,0.6);
}

/* Cursor voor klikbare afbeeldingen in de fotogalerij pgD */
#pgD .fotoImg {
    cursor: pointer;
}
.youtube-video-container {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 16 / 9;
  margin: 1vw auto;
}

.youtube-video-container iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}
.fotoGroup.Grp10 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2vw;
  justify-content: center;
}

.video-thumb {
  position: relative;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 16/9;
  margin: 1vw auto;
  cursor: pointer;
}

.video-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid #ccc;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url('https://img.icons8.com/ios-filled/100/ffffff/play-button-circled.png') no-repeat center;
  background-size: contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.fotoGroup.Grp10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: auto;
  gap: 2vw;
}

.video-wrapper {
  max-width: 480px;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 1vw;
  position: relative;
  flex: 1 1 320px;
}

.video-wrapper iframe,
.video-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  display: block;
}

.video-wrapper .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url('https://img.icons8.com/ios-filled/100/ffffff/play-button-circled.png') no-repeat center;
  background-size: contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

